<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
                      "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>
<TITLE>sane-devel: Need help building a new SANE driver</TITLE>
<META NAME="Author" CONTENT="Marcio Luis Teixeira (marciot@holly.colostate.edu)">
<META NAME="Subject" CONTENT="Need help building a new SANE driver">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000">
<H1>Need help building a new SANE driver</H1>
<!-- received="Mon Jul  2 18:41:34 2001" -->
<!-- isoreceived="20010703014134" -->
<!-- sent="Mon, 02 Jul 2001 19:49:13 -0600" -->
<!-- isosent="20010703014913" -->
<!-- name="Marcio Luis Teixeira" -->
<!-- email="marciot@holly.colostate.edu" -->
<!-- subject="Need help building a new SANE driver" -->
<!-- id="3B412499.CB694753@holly.colostate.edu" -->
<!-- inreplyto="3B40E4A8.81A93C5@rauch-domain.de" -->
<STRONG>From:</STRONG> Marcio Luis Teixeira (<A HREF="mailto:marciot@holly.colostate.edu?Subject=Re:%20Need%20help%20building%20a%20new%20SANE%20driver&In-Reply-To=&lt;3B412499.CB694753@holly.colostate.edu&gt;"><EM>marciot@holly.colostate.edu</EM></A>)<BR>
<STRONG>Date:</STRONG> Mon Jul 02 2001 - 18:49:13 PDT
<P>
<!-- next="start" -->
<LI><STRONG>Next message:</STRONG> <A HREF="0033.html">Steven Ellis: "[Ann] Viceo / Genius USB Scanner driver for Sane 1.0.5"</A>
<UL>
<LI><STRONG>Previous message:</STRONG> <A HREF="0031.html">Karl Heinz Kremer: "Re: What's the status of sanei-thread?"</A>
<LI><STRONG>In reply to:</STRONG> <A HREF="0020.html">Oliver Rauch: "Re: What's the status of sanei-thread?"</A>
<!-- nextthread="start" -->
<LI><STRONG>Next in thread:</STRONG> <A HREF="0034.html">Marcio Luis Teixeira: "Solved: Need help building a new SANE driver"</A>
<LI><STRONG>Reply:</STRONG> <A HREF="0034.html">Marcio Luis Teixeira: "Solved: Need help building a new SANE driver"</A>
<LI><STRONG>Reply:</STRONG> <A HREF="0039.html">Oliver Rauch: "Re: Need help building a new SANE driver"</A>
<!-- reply="end" -->
<LI><STRONG>Messages sorted by:</STRONG> 
<A HREF="date.html#32">[ date ]</A>
<A HREF="index.html#32">[ thread ]</A>
<A HREF="subject.html#32">[ subject ]</A>
<A HREF="author.html#32">[ author ]</A>
</UL>
<HR NOSHADE><P>
<!-- body="start" -->
<P>
Hi everyone,
<BR>
<P>I'm new to the mailing list and Sane, and to some extent, new to open
<BR>
source software development.
<BR>
<P>To get aquainted, I was thinking of trying out a little project. I have a
<BR>
UMAX Astra 1220U scanner at home and would love to use it with
<BR>
SANE and the Gimp. While no SANE backend exists for it, Paul
<BR>
Mackerras has a GLPed command line driver for this scanner which
<BR>
works perfectly in my setup (Red Hat Linux 7.1). It accepts a few
<BR>
command line parameters and writes out a pnm file.
<BR>
<P>It doesn't seem to me like it would be tremendously difficult to write
<BR>
a SANE backend based on that tool. One idea is to simply hack
<BR>
the SANE pnm backend to call the command line tool and read the
<BR>
pnm file it generates. Later, time permitting, it can be made into a self-
<BR>
contained backend.
<BR>
<P>Anyhow, I decided to give this a try, but am having trouble getting
<BR>
my test backend to be recognized by SANE. Currently it is simply
<BR>
a copy of &quot;pnm.c&quot; with a couple minor changes.  I did my best to
<BR>
hack the makefile and seem to have gotten everything to compile
<BR>
and install correctly. Alas, SANE only recognizes the pnm backend
<BR>
and not my modified copy of it. I'm stumped and don't know what
<BR>
else to do. Any ideas would be very much appreciated.
<BR>
<P>Here is what I have done:
<BR>
<P>1) I downloaded the Sane 1.0.5 distribution (backends and
<BR>
frontends), compiled it with the &quot;--enable-pnm-backend&quot; option,
<BR>
installed everything, and made sure  I could use the pnm backend
<BR>
properly.
<BR>
<P>2) I went into the &quot;backend&quot; directory of the source tree and
<BR>
copied &quot;pnm.c&quot; to &quot;umax1220u.c&quot;.
<BR>
<P>3) I changed the SANE_Device dev[] structure as such:
<BR>
<P>static const SANE_Device dev[] =
<BR>
{{&quot;0&quot;, &quot;UMAX&quot;, &quot;Astra 1220U&quot;, &quot;flatbed scanner&quot;},
<BR>
&nbsp;&nbsp;{&quot;1&quot;, &quot;UMAX&quot;, &quot;Astra 1220U&quot;, &quot;flatbed scanner&quot;} };
<BR>
<P>The purpose here was simply to make it easy for me to tell if
<BR>
my new &quot;backend&quot; was working.
<BR>
<P>4) I edited &quot;backends/Makefile.in&quot; and added &quot;umax1220u&quot; to
<BR>
the end of the variable PRELOADABLE_BACKENDS and then
<BR>
added this line to the makefile:
<BR>
<P>libsane-umax1220u.la: ../sanei/sanei_constrain_value.lo
<BR>
<P>5) I did a &quot;./configure&quot;, &quot;make&quot; and &quot;make install&quot;.
<BR>
<P>6) I did a &quot;ls -l /usr/local/lib/sane/libsane-umax1220u.*&quot; and
<BR>
confirmed I had five new files for my new driver.
<BR>
<P>7) I edited &quot;/usr/local/sane.d/dll.conf&quot; and added &quot;umax1220u&quot;
<BR>
to the list.
<BR>
<P>Anyhow, after all this was done, &quot;scanimage -L&quot; still fails to
<BR>
report my new driver. Where did I go wrong?
<BR>
<P>Thank you in advance for any ideas!
<BR>
<P>Marcio Luis Teixeira
<BR>
<P><P><P><P><PRE>
--
Source code, list archive, and docs: <A HREF="http://www.mostang.com/sane/">http://www.mostang.com/sane/</A>
To unsubscribe: echo unsubscribe sane-devel | mail <A HREF="mailto:majordomo@mostang.com?Subject=Re:%20Need%20help%20building%20a%20new%20SANE%20driver&In-Reply-To=&lt;3B412499.CB694753@holly.colostate.edu&gt;">majordomo@mostang.com</A>
</PRE>
<P><!-- body="end" -->
<HR NOSHADE>
<UL>
<!-- next="start" -->
<LI><STRONG>Next message:</STRONG> <A HREF="0033.html">Steven Ellis: "[Ann] Viceo / Genius USB Scanner driver for Sane 1.0.5"</A>
<LI><STRONG>Previous message:</STRONG> <A HREF="0031.html">Karl Heinz Kremer: "Re: What's the status of sanei-thread?"</A>
<LI><STRONG>In reply to:</STRONG> <A HREF="0020.html">Oliver Rauch: "Re: What's the status of sanei-thread?"</A>
<!-- nextthread="start" -->
<LI><STRONG>Next in thread:</STRONG> <A HREF="0034.html">Marcio Luis Teixeira: "Solved: Need help building a new SANE driver"</A>
<LI><STRONG>Reply:</STRONG> <A HREF="0034.html">Marcio Luis Teixeira: "Solved: Need help building a new SANE driver"</A>
<LI><STRONG>Reply:</STRONG> <A HREF="0039.html">Oliver Rauch: "Re: Need help building a new SANE driver"</A>
<!-- reply="end" -->
<LI><STRONG>Messages sorted by:</STRONG> 
<A HREF="date.html#32">[ date ]</A>
<A HREF="index.html#32">[ thread ]</A>
<A HREF="subject.html#32">[ subject ]</A>
<A HREF="author.html#32">[ author ]</A>
</UL>
<!-- trailer="footer" -->
<HR NOSHADE>
<P>
<SMALL>
<EM>
This archive was generated by <A HREF="http://www.hypermail.org/">hypermail 2b29</A> 
: <EM>Mon Jul 02 2001 - 18:44:05 PDT</EM>
</EM>
</SMALL>
</BODY>
</HTML>
